# Global list of radio broadcasts with cron expressions for timing, and optional details
# * station: short name, [a-z]+ only
# * broadcast: short name, [a-z]+ only, may occur several times (for a set of cron expressions)
# * cron: see <http://en.wikipedia.org/wiki/Cron>
# * name: long name in "" (optional)
# * tags: [a-z]+, comma separated, no spaces (optional)
# * url: broadcast website, e. g. for playlists (optional)

# weeknumber:       `date +%V` (the ones used in Google Calendar and most others)
# cron example:     0   0   0   1/2 FRI#2 * => every second Friday of every second month (see <http://en.wikipedia.org/wiki/Cron#Special_characters>)
# order by:         station, dow (MON .. SUN), weeks

# {{{ (( Aligre FM ))
# .................................................................................................................................................................................
# station   broadcast           m   h   dom mon dow year    weeks   min name                    tags                    url
aligrefm    planetclaire        30  19  *   1-7 WED 2014    %1=0     60 "Planet Claire"         indie,rock,french       http://www.planet-claire.org/
aligrefm    lusitania           00  18  *   *   SAT *       %1=0     60 "Lusitania"             lusophone,french        http://aligrefm.org/programmes/les-emissions/lusitania/
aligrefm    juicytown           00  20  *   *   SAT *       %1=0     60 "Juicy Town"            electronic,french       http://aligrefm.org/programmes/les-emissions/juicy-town/
# .................................................................................................................................................................................
# http://aligrefm.org/programmes/les-emissions/
# }}}
# {{{ (( ByteFM ))
# .................................................................................................................................................................................
# station   broadcast           m   h   dom mon dow year    weeks   min name                    tags                    url
bytefm      bttb                00  09  *   *   MON *       %4=2     60 "BTTB – Back To The Basics" electronic          http://www.vinylizer.net/
bytefm      canteen             03  12  *   *   MON *       %1=0    117 "Canteen"               mixed                   http://byte.fm/sendung/canteen/
bytefm      hellomellowfellow   00  22  *   *   MON *       %4=1    120 "Hello Mellow Fellow"   mellow                  http://byte.fm/sendung/hello-mellow-fellow/
bytefm      keepitreal          00  22  *   *   MON *       %4=3     60 "Keep It Real"          special                 http://byte.fm/sendung/keep-it-real/
bytefm      souleilsuite        00  23  *   *   MON *       %4=0     60 "Souleil Suite"         disco,soul,house        http://byte.fm/sendung/souleil-suite/
bytefm      atmocity            00  23  *   *   MON *       %4=2     60 "Atmocity"              atmospheric             http://byte.fm/sendung/atmocity/
bytefm      beatrepeat          00  22  *   *   TUE *       %1=0     60 "Beat Repeat"           hiphop                  http://byte.fm/sendung/beat-repeat/
bytefm      lafranceenduo       00  13  *   *   WED *       %4=1     60 "La France en Duo"      french                  http://byte.fm/sendung/la-france-en-duo/
bytefm      pharmacy            03  17  *   *   WED *       %2=1     57 "Pharmacy"              pop                     http://byte.fm/sendung/pharmacy/
bytefm      anstoss             00  18  *   *   WED *       %2=0     60 "Anstoß"                pop,rock,mixed,deutsch  http://byte.fm/sendung/anstoss/
bytefm      verstaerker         00  20  *   *   WED *       %2=1     60 "Verstärker"            indie                   http://byte.fm/sendung/verstaerker/
bytefm      hiddentracks        00  22  *   *   WED *       %1=0     60 "Hidden Tracks"         special                 http://byte.fm/sendung/hidden-tracks/
bytefm      bonusreferat        00  23  *   *   WED *       %1=0     60 "Bonus Referat"         special                 http://byte.fm/sendung/bonus-referat/
bytefm      schliemannssoundbox 00  13  *   *   THU *       %4=1     60 "Schliemanns Soundbox"  special                 http://byte.fm/sendung/schliemanns-soundbox/
bytefm      sundayservice       00  17  *   *   THU *       %1=0    120 "Sunday Service"        rock,pop,electronic     http://byte.fm/sendung/sunday-service/
bytefm      karamba             00  20  *   *   THU *       %1=0     60 "Karamba"               indie                   http://byte.fm/sendung/karamba/
bytefm      bttb                00  21  *   *   THU *       %1=0     60 "BTTB – Back To The Basics" electronic          http://www.vinylizer.net/
bytefm      schnittstellen      00  22  *   *   THU *       %2=1     60 "Schnittstellen"        rock,jazz,electronic    http://byte.fm/sendung/schnittstellen/
bytefm      kramladen           00  23  *   *   THU *       %2=1     60 "Kramladen"             rock,60s,70s,special    http://byte.fm/sendung/kramladen/
bytefm      neuland             00  13  *   *   FRI *       %1=0    120 "Neuland"               mixed                   http://byte.fm/sendung/neuland/
bytefm      champagnesupernova  00  18  *   *   FRI *       %2=1     60 "Champagne Supernova"   indie,uk,70s,80s        http://byte.fm/sendung/champagne-supernova/
bytefm      regler              00  20  *   *   FRI *       %2=1     60 "Regler rauf, Regler runter" electronic,indie,pop,special http://byte.fm/sendung/regler-rauf-regler-runter/
bytefm      intakt              00  21  *   *   FRI *       %2=1     60 "In Takt"               pop,electronic,indie    http://byte.fm/sendung/in-takt/
bytefm      jittersbugs         00  12  *   *   SAT *       %2=1     60 "Jitters & Bugs"        jazz,art                http://byte.fm/sendung/jitters--bugs/
bytefm      inbetweenears       00  13  *   *   SAT *       %1=0     60 "In Between Ears"       jazz,classic,special    http://byte.fm/sendung/in-between-ears/

# .................................................................................................................................................................................
# http://byte.fm/programm
# }}}
# {{{  (( CKUT 90.3 FM ))
# .................................................................................................................................................................................
# station   broadcast           m   h   dom mon dow year    weeks   min name                    tags                    url
ckut        radia               00  17  *   *   WED *       %1=0     30 "Radia"                 feature,sound,places    http://www.radia.fm/
ckut        rootsrockrebel      00  04  *   *   THU *       %1=0    120 "Roots Rock Rebel"      rocksteady,ska,soul     http://www.musicaloccupation.com/podcasts/roots-rock-rebel/
ckut        offthehook          00  06  *   *   THU *       %1=0    120 "Off The Hook Radio"    hiphop                  http://offthehookradio.blogspot.de/
ckut        venus               00  18  *   *   THU *       %1=0    120 "Venus"                 music,feminism,queer    http://venusradiockut.wordpress.com/
ckut        greymatters         00  01  *   *   FRI *       %1=0     60 "Grey Matters"          politics,essays,word    http://www.fortneranderson.com/html/greymatters.html
ckut        jazzamuck           00  15  *   *   FRI *       %1=0    120 "Jazz Amuck"            jazz,freejazz,avant     http://jazzamuck.blogspot.de/
ckut        skewingthewaves     00  05  *   *   SUN *       %1=0     60 "Skewing The Waves"     postrock,noise          http://skewingthewaves.wordpress.com/
ckut        freekick            00  17  *   *   SUN *       %1=0    120 "The Freekick Radio Show" mixed,special,guests  http://freekick.ca/
ckut        modularsystems      00  19  *   *   SUN *       %2=0     60 "Modular Systems"       electronic,techno,deep  http://traktion.com/radio-archives/
ckut        futureclassic       00  19  *   *   SUN *       %2=1     60 "Future Classic Radio"  electronic,funk,dance   http://www.futureclassic.ca/
ckut        newshit             00  21  *   *   MON *       %1=0    120 "New Shit"              mixed,music,ckut        http://music.ckut.ca/
ckut        undergroundsounds   00  02  *   *   TUE *       %1=0    120 "Underground Sounds"    mixed,indie,canada      http://undergroundsoundsradio.tumblr.com/
ckut        thesuitedelight     00  07  *   *   TUE *       %1=0     60 "The Suite Delight"     hiphop,oldschool,90s    http://www.thesuitedelight.com/
# .................................................................................................................................................................................
# http://ckut.ca/c/en/oldgrid (programm)
# http://music.ckut.ca/ (music department)
# }}}
# {{{  (( Radio Campus Lille ))
# .................................................................................................................................................................................
# station   broadcast           m   h   dom mon dow year    weeks   min name                    tags                    url
# .................................................................................................................................................................................
rclille     musiqueauxpieds     00  15  *   *   WED *       %1=0     60 "Musique Aux Pieds"     jazz,contemp,avant      http://musiquesauxpieds.blogspot.fr/
# http://www.campuslille.com/index.php/programmes
# }}}

# vim: fdm=marker fdl=0 et ft=config